<!DOCTYPE html>
<html layout:decorate="~{admin/layout/adminLayout}">

<head>
  <title>정산데이터 목록</title>
</head>

<main layout:fragment="main">
  <section th:unless="${items.size > 0}" class="section container mx-auto">
    <div class="px-2 pt-4">
      <h1 class="font-bold text-lg">
        <i class="fa-solid fa-sack-dollar"></i>
        정산
      </h1>

      <div class="mt-2">
        <select name="yearMonth" class="select select-bordered" th:currentUrl="${@rq.modifyQueryParam('yearMonth', '')}" onchange="location.href = this.getAttribute('currentUrl') + this.value;">
          <option th:each="date : ${paidDate}"
                  th:value="${date}" th:text="${date}"></option>
        </select>
        <script th:inline="javascript">
          const yearMonth = /*[[ ${yearMonth} ]]*/ null;
          $('select[name=yearMonth]').last().val(yearMonth);
        </script>
      </div>

      <div class="text-center">
        <div>생성된 정산 데이터가 없습니다.</div>
        <a href="/admin/rebate/makeData" class="block text-link mt-2"><i class="fa-solid fa-code-merge"></i> 정산 데이터 생성하기</a>
      </div>
    </div>
  </section>

  <section th:if="${items.size > 0}" class="section container mx-auto">

    <div class="px-2 pt-4">
      <h1 class="font-bold text-lg">
        <i class="fa-solid fa-sack-dollar"></i>
        정산
      </h1>

      <div class="mt-2">
        <select name="yearMonth" class="select select-bordered" th:currentUrl="${@rq.modifyQueryParam('yearMonth', '')}" onchange="location.href = this.getAttribute('currentUrl') + this.value;">
          <option th:each="date : ${paidDate}"
                  th:value="${date}" th:text="${date}"></option>
        </select>
        <script th:inline="javascript">
          const yearMonth = /*[[ ${yearMonth} ]]*/ null;
          $('select[name=yearMonth]').last().val(yearMonth);
        </script>
      </div>

      <div class="overflow-x-auto mt-2">

        <table class="table table-compact w-full">
          <thead>
          <tr>
            <th>
              <input type="checkbox" class="orderItemCheckboxAll checkbox">
            </th>
            <th>주문품목번호</th>
            <th>결제날짜</th>
            <th>상품명</th>
            <th>결제가격</th>
            <th>PG FEE</th>
            <th>환불가격</th>
            <th>판매자</th>
            <th>예상정산가</th>
            <th>정산날짜</th>
            <th>정산내역번호</th>
            <th>정산</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="item : ${items}">
            <td>
              <input onchange="OrderItemCheckbox__changed();" th:if="${item.rebateAvailable}"
                     type="checkbox" class="orderItemCheckbox checkbox" th:value="${item.orderItem.id}">
            </td>
            <td th:text="${item.orderItem.id}"></td>
            <td th:text="${#temporals.format(item.payDate, 'yy-MM-dd HH:mm')}"></td>
            <td th:text="${item.productSubject}"></td>
            <td th:text="${item.payPrice} > 0 ? |￦ ${#numbers.formatInteger(@ut.nf(item.payPrice), 3, 'COMMA')}| : '￦ 0'"></td>
            <td th:text="${item.pgFee} > 0 ? |￦ ${#numbers.formatInteger(@ut.nf(item.pgFee), 3, 'COMMA')}| : '￦ 0'"></td>
            <td th:text="${item.refundPrice} > 0 ? |￦ ${#numbers.formatInteger(@ut.nf(item.refundPrice), 3, 'COMMA')}| : '￦ 0'"></td>
            <td th:text="${item.sellerName}"></td>
            <td th:text="${item.calculateRebatePrice} > 0 ? |￦ ${#numbers.formatInteger(@ut.nf(item.calculateRebatePrice), 3, 'COMMA')}| : '￦ 0'"></td>
            <td th:text="${#temporals.format(item.rebateDate, 'yy-MM-dd HH:mm')}"></td>
            <td th:text="${item.rebateCashLog?.id}"></td>
            <td>
              <a th:if="${item.rebateAvailable}" href="javascript:;" onclick="$(this).next().submit();"
                 class="btn btn-primary btn-xs">정산</a>
              <form method="POST" th:action="@{|/admin/rebate/rebateOne/${item.orderItem.id}|}" hidden></form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="grid grid-cols-2 mt-2 gap-2">
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">
          <i class="fa-solid fa-angle-left"></i>
          <span class="ml-1">취소</span>
        </button>
        <a href="javascript:;" onclick="RebateForm__submit();" class="btn btn-primary btn-block">선택정산</a>
        <form method="POST" name="rebateForm" th:action="@{|/admin/rebate/rebate|}" hidden>
          <input type="hidden" name="ids">
        </form>
      </div>

    </div>
  </section>
</main>

</html>
